* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  border: transparent;
}

*:focus-visible {
  outline: none;
}

:root {
  --main-color: #ff6600;
  --border-radius: 6px;
  --darkMode-color: #232220;
}

.light-mode .input::placeholder {
  color: rgba(22, 28, 45, 0.7);
}

.dark-mode .input::placeholder {
  color: #c2d0da;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  height: 1000px;
}

.container {
  padding: 30px 20px;
}

.title h6 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 20px;
  color: var(--main-color);
}

.title h3 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 600;
}

.btn {
  border: 3px solid white;
  transition: all 0.4s;
}

.btn span,
.btn i {
  color: white;
  font-weight: 700;
}

.btn:hover {
  background-color: #fff;
}

.btn:hover span,
.btn:hover i {
  color: #ff6600;
}

.changeP {
  color: rgba(22, 28, 45, 0.7);
}

.changeA {
  color: #232121;
}

.post .card {
  width: 23rem;
}
/* header start */
header {
  position: absolute;
  width: 100%;
}
.navbar {
  z-index: 100;
}

.navbar h1 {
  font-size: 36px;
  font-weight: 700;
}

.navbar ul li {
  font-size: 20px;
  font-weight: 500;
}

.search-box {
  border-radius: var(--border-radius);
}

.search-box .search-input {
  position: relative;
  padding: 10px 50px 10px 20px;
}

.search-box .search-icon {
  position: absolute;
  top: 11px;
  right: 30px;
  cursor: pointer;
}

.mode-icon {
  color: white;
  font-size: 25px;
  padding-left: 15px;
  cursor: pointer;
}

.navbar-brand {
  width: 55%;
}

.nav-side {
  width: 28%;
}
/* header end */

/* banner start */
.banner {
  position: relative;
  height: 700px;
  width: 100%;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  background-attachment: fixed;
}

.banner .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.banner-content {
  width: 50%;
}
.banner h3 {
  font-size: 55px;

  text-transform: capitalize;
}

/* banner end */

/* about start */
.about {
  padding: 50px 0;
}

.about .paragraph {
  font-size: 18px;
  font-weight: 350;
}
/* about end */

/* agent block start */
.agent-block {
  width: 100%;
}

.agent-left {
  position: relative;
  background-image: url(../img/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  padding-bottom: 290px;
}

.agent-left::before {
  position: absolute;
  content: "";
  background: rgb(16 15 19 / 46%);
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.agent-right {
  background-color: var(--main-color);
}

.right-content {
  padding: 90px;
  padding-bottom: 50px;
  padding-right: 35px;
}
.agent-right p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.agent-right i {
  background-color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: var(--main-color);
  font-size: 20px;
  text-align: center;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  transition: all 0.4s;
}

.subscrible p {
  margin-top: 20px;
}

.subscrible-left:hover i,
.subscrible-right:hover i {
  color: #ffc600;
}

/* agent block end */

/* menu start */
.menu {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.menu-item {
  position: relative;
}

.menu-item img {
  position: relative;
  width: 100%;

  cursor: pointer;
  transition: all 0.4s;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.menu-item .img {
  overflow: hidden;
  padding: 20px;
  padding-top: 15px;
  margin-top: 25px;
}

.menu-item .img::before {
  position: absolute;
  content: "";
  width: 85%;
  height: 35%;
  bottom: 20px;
  left: 33px;
  opacity: 0.5;
  z-index: 50;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  border-radius: var(--border-radius);
}

.menu-item img:hover {
  opacity: 0.85;
}

.menu-item .menu-info {
  position: absolute;
  top: 405px;
  left: 40px;
  width: 80%;
  color: white;
  font-weight: 700;
  font-size: 20px;
  z-index: 100;
}

.menu-item .menu-info h4 {
  font-weight: 600;
}

.menu-item .menu-info span {
  color: #ffc600;
}
/* menu end */

/* feature start */
.feature {
  padding: 50px 0 55px;
}

.feature-wrap {
  padding: 40px;
  border: 1px solid #eee;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.4s;
  border-radius: var(--border-radius);
}

.feature-wrap:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.feature-wrap:hover .icon {
  background-color: var(--main-color);
  color: #fff;
}

.feature-wrap a {
  transition: all 0.4s;
}

.feature-wrap a:hover {
  color: var(--main-color);
}

.feature-wrap .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 25px;
  background-color: rgba(130, 115, 252, 0.05);
  color: var(--main-color);
  transition: all 0.4s;
  border-radius: var(--border-radius);
}

.feature-wrap .text {
  font-size: 20px;
}

.feature-title {
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
/* feature end */

/* homePage cover start */
.homePageCover {
  position: relative;
  padding: 100px 0 50px;
  background-image: url(../img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.homePageCover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.homePageCover-content {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  z-index: 999;
}

.homePageCover-content h3 {
  font-size: 45px;
}

.side-btn {
  background-color: var(--main-color);
  border: 3px solid var(--main-color);
  transition: all 0.4s;
}

.side-btn:hover {
  opacity: 0.8;
  background: var(--main-color);
}
.side-btn:hover span,
.side-btn:hover i {
  color: white;
}
/* homePage cover end */

/* homePage stats start */
.homePageStats {
  margin-top: -70px;
  position: relative;
  z-index: 100;
}

.stats-item-content {
  background-color: #fff;
  padding: 50px 30px;
  border-radius: var(--border-radius);
  border: 1px solid #eee;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.4s;
}

.stats-item-content:hover {
  transform: translateY(-10px);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

.stats-item-content i {
  color: #fff;
  font-size: 26px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: var(--main-color);
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.stats-item-content span {
  font-size: 40px;
  font-weight: 600;
}
/* homePage stats end */

/* video start */
.video {
  padding: 50px 0;
}

.video-banner {
  position: relative;
  background-image: url(../img/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  text-align: center;
  position: relative;
  margin: 0 50px;
  border-radius: var(--border-radius);
}

.video-banner::before {
  position: absolute;
  content: "";
  background: rgb(16 15 19 / 46%);
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 50;
}

.play-btn {
  position: absolute;
  top: 40%;
  left: 47%;
  z-index: 100;
  animation: ripple 1s linear infinite;
  border-radius: 999px;
  transition: all 0.4s;
}

.play-btn:hover {
  transform: scale(1.2);
}

.play-btn:hover i {
  background-color: var(--main-color);
  color: #fff;
}

.play-btn i {
  color: var(--main-color);
  font-size: 25px;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 999px;
  line-height: 80px;
  text-align: center;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/* video end */

/* Post start */
.post {
  padding: 50px 0;
  background-color: #f7f7f7;
}
.card-img-top {
  position: relative;
}

.category {
  position: absolute;
  top: 430px;
  left: 20px;
}

.category a {
  color: var(--main-color);
  transition: all 0.4s;
}

.category a:hover {
  color: rgb(64, 0, 255);
}

.card-link {
  transition: all 0.4s;
}

.card-link:hover {
  color: var(--main-color);
}

.card-link img {
  border-radius: 50%;
  margin-right: 10px;
}
/* Post end */

/* Testimonial start */
.testimonial {
  padding: 40px 0;
}

.testimonial-item .people-img {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.testimonial-item .people-img img {
  border-radius: 50%;
}

blockquote q {
  letter-spacing: 1px;
}

.testimonial-item i {
  color: var(--main-color);
}
.testimonial-item p {
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  color: rgb(157, 160, 167);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--main-color);
}
/* Testimonial end */

/* Footer start */
footer p,
footer li a {
  font-size: 17px;
  color: rgb(165, 162, 161);
  margin: 0;
  width: 90%;
}

.socialmedia {
  margin-top: 25px;
}

.socialmedia a {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: var(--main-color);
  border-radius: var(--border-radius);
  margin-right: 10px;
  background-color: #fff;
  transition: all 0.4s;
}

.socialmedia a:hover {
  color: #fff;
  background: var(--main-color);
}

.email {
  padding: 15px;
  font-size: 18px;
}

.footer-btn {
  padding: 15px;
  width: 100%;
  border: 1px solid transparent;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  transition: all 0.4s;
}

.footer-btn span {
  color: #fff;
  font-weight: 800;
}

.footer-btn:hover {
  opacity: 0.8;
}

.copyright {
  border-top: 1px solid rgb(255 255 255 / 5%);
}

.copyright a {
  color: var(--main-color);
  transition: all 0.4s;
}

.copyright a:hover {
  color: #fff;
}
/* Footer end */

/* backtotop */
.cd-top {
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  color: white;
  position: fixed;
  right: 30px;
  bottom: 50px;
  opacity: 0;
  display: inline-block;
  visibility: hidden;
  line-height: 50px;
  text-align: center;
  z-index: 999;
  border-radius: 50%;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

.cd-top:hover {
  opacity: 1;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

/* effects */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* responsive */
/* 1400px ≥ xl ≥ 1200px */
@media screen and (max-width: 1400px) {
  .navbar-brand {
    width: 50%;
  }

  .nav-side {
    width: 35%;
  }

  .banner .container {
    padding-top: 170px;
  }

  .menu-item .menu-info {
    top: 335px;
  }

  .menu-item .img::before {
    width: 82.5%;
  }

  .post .card {
    width: 21rem;
  }

  .category {
    top: 385px;
  }
}

/* 1200px ≥  lg ≥ 992px */
@media screen and (max-width: 1200px) {
  .container {
    padding: 20px 20px;
  }

  .navbar-brand {
    width: 50%;
  }

  .nav-side {
    width: 85%;
  }

  .banner .container {
    padding-top: 130px;
  }

  .stats-item-content {
    padding: 50px 9px;
  }

  .menu-item .img::before {
    width: 79%;
  }

  .menu-item .menu-info {
    top: 255px;
  }

  .post .card {
    width: 19rem;
  }

  .category {
    top: 345px;
  }
}

/* 992px ≥ md ≥ 768px */
@media screen and (max-width: 992px) {
  .navbar-brand {
    width: 15%;
  }

  .nav-side {
    width: 57%;
  }

  .mode-icon {
    padding: 0 20px;
  }

  .navbar .navbar-toggler {
    background-color: var(--main-color);
  }

  .navbar-collapse {
    background: rgb(16 15 19 / 80%);
  }

  .nav-link {
    text-align: center;
  }

  .banner .container {
    padding-top: 150px;
  }

  .banner-title {
    width: 700px;
  }

  .banner h3 {
    font-size: 45px;
  }

  .subscrible {
    gap: 20px;
  }

  .menu-item .menu-info {
    top: 305px;
  }

  .menu-item .img::before {
    width: 81.5%;
  }

  .homePageStats {
    margin-top: 0;
  }

  .stats-item-content {
    padding: 50px 0px;
  }

  .copyright {
    text-align: center;
  }
}

/* xs < 576px */
@media screen and (max-width: 576px) {
  .nav-side {
    width: 100%;
  }

  .banner .container {
    padding-top: 200px;
  }

  .search-box .search-input {
    padding: 10px 25px 10px 25px;
  }

  .banner {
    background-size: 200%;
  }

  .banner-title,
  .banner-paragraph {
    width: 320px;
  }
  .banner h3 {
    font-size: 28px;
  }

  .post .card {
    width: 24rem;
  }

  .category {
    top: 440px;
  }

  .menu-item .menu-info {
    top: 375px;
  }

  .video-banner {
    width: 80%;
  }

  .play-btn {
    left: 40%;
  }

  .socialmedia {
    text-align: center;
  }

  .copyright {
    text-align: center;
  }
}
